<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ezcat | admin</title>
    <link href="/static/cat.svg" rel="icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <link href="/static/global.css" rel="stylesheet">
    <link href="/static/admin.css" rel="stylesheet">
  </head>
  <body>  
    <header>
      <div class="header-div">
        <a class="logo" href="https://github.com/ngn13/ezcat"><h1>🐱 ezcat</h1></a>
      </div>
      <div class="header-div">
        <a href="/logout"><button>🔒 logout</button></a>
        <input type="text" value="{{.ip}}" id="ip" placeholder="IP">
        <button id="btn-copy">🗒️ copy payload</button>
      </div>
    </header>
    <div class="list">
      {{if .success}}
        <div class="msg-success">
          <h1>Success!</h1>
          <h3>{{.success}}
        </div>
        <script>
          setTimeout(()=>{
            location.href = "/admin" 
          }, 5000)
        </script>
      {{else if .error}}
        <div class="msg-error">
          <h1>Error!</h1>
          <h3>{{.error}}</h3>
        </div>
        <script>
          setTimeout(()=>{
            location.href = "/admin" 
          }, 5000)
        </script>
      {{end}}
      {{range .shells}}
        {{if not .Hidden}}
        <div class="shell">
          <div class="shell-data">
            <h1>{{.UID}}</h1>
            <p>IP: {{.IP}}</p> 
            <p>{{.User}}@{{.Host}}</p>
          </div>
          <div class="shell-links">
            <a href="/admin/run?u={{.UID}}"><button class="btn-run">🚀 run</button></a>
            <a href="/admin/clean?u={{.UID}}"><button class="btn-clean">🧹 clean</button></a>
          </div>
        </div>
        {{end}}
      {{end}}
    </div>
  </body>
  <script>
    const token = "{{.token}}"
    const status = "{{.status}}"
  </script>
  <script src="/static/admin.js"></script>
</html>
