<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ezcat | run</title>
    <link href="/static/cat.svg" rel="icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <link href="/static/global.css" rel="stylesheet">
    <link href="/static/run.css" rel="stylesheet">
  </head>
  <body>  
    <div class="cmd-div">
      <form action="/admin/run" method="POST">
        <input name="ip" type="text" placeholder="IP" value="{{.ip}}">  
        <input name="port" type="number" min="1" max="65535" placeholder="Port" autofocus>  
        <input type="hidden" name="uid" value="{{.uid}}">
        <button type="submit">🚀 run</button>
      </form>
    </div>
  </body>
</html>
