.cmd-div {
  background: var(--background2);
  border-radius: var(--radius); 
  box-shadow: var(--box-shadow); 
  padding: 30px;

  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.cmd-div input{
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}
